
.tit{
    font-family: 'Lobster', cursive;
}
.imag{
    height: 300px;
    width: 300px;
    border: 4px inset rgba(211, 137, 230, 0.3);
    transition: 0.2s;
}
.imag:hover{
    border: 6px outset rgba(211, 137, 230, 0.6);
}